* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 18px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-image: url("img/150783330759dfb5db9aa058.19500205.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.header {
    width: 100%;
    background-color: goldenrod;
    border-radius: 3px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
}

.header .logo {
    font-size: 24px;
    font-weight: bold;
    color: white;
}

.cart {
    display: flex;
    background-color: white;
    justify-content: space-between;
    align-items: center;
    padding: 7px 10px;
    border-radius: 3px;
    width: 100%;
}

.fa-solid {
    color: goldenrod;
}

.cart p {
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 22px;
    background-color: #f10e0e;
    color: white;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
}

#root {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(
        auto-fill,
        minmax(250px, 1fr)
    );
    grid-gap: 10px;
}

.sidebar {
    width: 100%;
    border-radius: 5px;
    background-color: #eee;
    margin-top: 20px;
    padding: 15px;
    text-align: center;
}

.head {
    background-color: goldenrod;
    border-radius: 3px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    color: white;
    display: flex;
    align-items: center;
}

.foot {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 0px;
    padding: 10px 0px;
    border-top: 1px solid #333;
}

.cart-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background-color: white;
    border-bottom: 1px solid #aaa;
    border-radius: 3px;
    margin: 10px 0;
}

.row-img {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    border: 1px solid goldenrod;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rowimg {
    max-width: 43px;
    max-height: 43px;
    border-radius: 50%;
}

.fa-trash:hover {
    cursor: pointer;
    color: #333;
}

.box {
    border: 2px solid seashell;
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
    width: 100%;
    text-align: center;
    box-shadow: 2px 2px 2px 0 rgba(238, 255, 0, 0.5);
}

.img-box {
    margin-bottom: 10px;
}

.images {
    max-width: 100%;
    height: auto;
}

.bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

p {
    font-size: 18px;
    font-weight: bold;
}

h2 {
    font-size: 24px;
    color: #ff5733;
    margin-top: 5px;
}

button {
    background-color: #30336d;
    color: #fff;
    border-radius: 15px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
}

button:hover {
    background-color: #f1f129;
}

.checkout-card {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px
        rgba(0, 0, 0, 0.2);
    border-radius: 8px;
    z-index: 1000;
    width: 80%;
    max-width: 400px;
    text-align: center;
}

.checkout-card button {
    background-color: #30336d;
    color: #fff;
    border-radius: 15px;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
    width: 100%;
}

.checkout-card button:hover {
    background-color: #f1f129;
}

@media only screen and (max-width: 600px) {
    
    /* Adjust styles for small screens */
    .cart p {
        font-size: 14px;
    }

    .checkout-card {
        width: 90%;
    }
}